@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12 p-5 mt-5">
        <div>
            <h2 class="text-center" style="font-weight:100;">Welcome The Product Tracking Application</h2>
            @*
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
            *@
        </div>
    </div>
</div>
